/* circuit by tmraff */

/* colour scheme variables */

.theme-light {
	--color-base-00: ;
	--color-base-05: ;
	--color-base-10: ;
	--color-base-20: ;
	--color-base-25: ;
	--color-base-30: ;
	--color-base-35: ;
	--color-base-40: ;
	--color-base-50: ;
	--color-base-60: ;
	--color-base-70: ;
	--color-base-100: ;
}

.theme-dark {
	--color-base-00: #050506;
	--color-base-05: color-mix(var(--color-base-00), var(--color-base-100) 05%);
	--color-base-10: color-mix(var(--color-base-00), var(--color-base-100) 10%);
	--color-base-20: color-mix(var(--color-base-00), var(--color-base-100) 20%);
	--color-base-25: color-mix(var(--color-base-00), var(--color-base-100) 25%);
	--color-base-30: color-mix(var(--color-base-00), var(--color-base-100) 30%);
	--color-base-35: color-mix(var(--color-base-00), var(--color-base-100) 35%);
	--color-base-40: color-mix(var(--color-base-00), var(--color-base-100) 40%);
	--color-base-50: color-mix(var(--color-base-00), var(--color-base-100) 50%);
	--color-base-60: color-mix(var(--color-base-00), var(--color-base-100) 60%);
	--color-base-70: color-mix(var(--color-base-00), var(--color-base-100) 70%);
	--color-base-100: #3a4350;
}

/* variables */
:root {
	
}


